body {
    height: 100％;
    min-width: 800px;
    margin: 0 auto;
    background-color: #fff;
}

header {
    width: 100%;
    background-color: steelblue;
}

nav {
    float: left;
    width: 150px;
    height: 600px;
    background-color: wheat;
}

ul li {
    margin-top: 20px;
    margin-bottom: 40px;
}

a {
    font-weight: bold;
}

a:hover {
    color: slategray;
    text-decoration: none;
}

a:visited {
    color: #000;
}

h1 {
    text-align: center;
    background: skyblue;
    padding: 20px 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.youkoso {
    margin-left: 60px;
}

main {
    height: 600px;
    background-color: #fff;
    margin-top: 0;
}

#profile_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-top: 100px;
}

.profile {
    width: 250px;
    height: 250px;
    border: 1px solid;
    border-radius: 40% 40% 40% 0%;
    padding-left: 20px;
    margin-top: 100px;
    margin-left: 50px;
}

.contents {
    background: #fff;
    display: flex;
    flex: wrap;
    justify-content: center;
}

#github_link {
    font-weight: bold;
    text-align: center;
}

footer {
    padding: 15px;
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

/* プロフィールページ */

.center_contents {
    text-align: center;
}

table {
    text-align: left;
    font-size: 25px;
    border: solid 1px #fff;
    border-collapse: separate;
    border-spacing: 10px 0px;
    padding-top: 10px;
    margin-top: 50px;
    border: 1px solid;
    box-shadow: 10px 10px 10px #0004;
}

table th {
    background-color: #fff;
    border-bottom: solid 30px #fff;
}

table td {
    background-color: #fff;
    border-bottom: solid 30px #fff;
    border-left: solid 20px #fff;
}

/* 学習内容ページ */

dl {
    text-align: left;
    border: solid 1px #fff;
    border-collapse: separate;
    border-spacing: 10px 0px;
}

dl dt {
    font-weight: bold;
    font-size: 22px;
    background-color: #fff;
    border-top: solid 30px #fff;
}

dl dd {
    font-size: 18px;
}

/* 製作者ページ */

#producer {
    width: 90%;
    text-align: center;
    margin-top: 50px;
}

#producer_img {
    height: 250px;
    width: 250px;
}

/* おまけページ */

#bonus_head {
    width: 90%;
    text-align: center;
}

.img_contents {
    width: 200px;
    height: 200px;
    margin-top: 50px;
}

/* 丸くなるゴリラ */

#gorira:hover {
    border-radius: 50%;
}

/* 卵から雛が */

#tamago_contents {
    position: relative;
}

#wakeup {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.1s;
}

#tamago_contents:hover #wakeup {
    opacity: 1;
}

/* 進化する子猫 */

#cat_contents {
    float: left;
}

#koneko:hover {
    box-shadow: 10px 10px 10px #0004;
}