body {
        height: 300px;
        min-width: 800px;
        margin: 0 auto;
        background-color: #fff;
      }

header {
    height: px;
        background-color:cornflowerblue;
    
    }
    
nav {
        float: left;
        width: 150px;
        height: 600px;
        background-color:wheat;
    }
 ul li {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    
a {
        text-decoration: none;
    }
    
a:hover {
        color: slategray;
        border-bottom: 1px solid;
    }
    
a:visited {
        color: #000;
    }
h1 {
    text-align: center;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0px;
}

.youkoso{
    margin-left: 60px;
    
}

main {
    height: 300px;
    background-color: #fff;
    margin-top: 0;
}

#profile_image {
    float: left;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 300px;
    border-radius: 50% ;
}

.profile {
    float: left;
    width: 250px;
    height: 250px;
    margin-left: 100px;
    margin-top: 50px;
    border: 1px solid;
    border-radius:25%;
    padding-left: 20px;
}

#github_link {
    text-align: center;
    
}

footer{
    padding: 15px;
    width:100%;
    background-color: #888;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0;

}

/* プロフィールページ */

table {
    float: left;
    text-align: left;
    font-size: 25px;
    border: solid 1px #fff;
    border-collapse: separate;
    border-spacing:10px 0px;
    margin-left: 300px;
}

table th {
    background-color: #fff;
    border-bottom:solid 30px #fff;
}


table td {
        background-color: #fff;
        border-bottom:solid 30px #fff;
        border-left:  solid 20px #fff;
    }

    /* 学習内容ページ */

dl {
    text-align: left;
    font-size: 22px;
    border: solid 1px #fff;
    border-collapse: separate;
    border-spacing:10px 0px;
    margin-top: 0px;
}

dl dt {
        font-weight: bold;
        background-color: #fff;
        border-top:solid 30px #fff;

}

/* 製作者ページ */

#producer {
    width: 90%;
    text-align: center;
}

/* おまけページ */

#bonus_head {
    width: 90%;
    text-align: center;
}

.img_contents {
    width: 200px;
    height: 200px;
    margin-left: 40px;
}

/* 丸くなるゴリラ */
#gorira_contents {
    float: left;
    margin-left: 30px;
}

#gorira:hover {
    border-radius: 50%;
}

/* 卵から雛が */
#tamago_contents {
    position: relative;
    float: left;
    margin-left: 60px;
}

#wakeup {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: 0.1s;
  }

  #tamago_contents:hover #wakeup {
      opacity: 1;
  }

  /* 進化する子猫 */
  #cat_contents {
      float: left;
      margin-left: 70px;
  }

  #koneko：hover {
      box-shadow:10px 10px 10px 10px;
  }





